.top-title-font {
  font-family: 'Anton', sans-serif;
}

.top-message-font {
  font-family: 'Noto Serif JP', serif;
  text-transform: initial;
}

.font-black {
  color: #111;
}

.message-font {
  font-size: 16px;
  color: #1a2023;
}

.message-sub-font {
  font-size: 14px;
  color: #1a2023;
}

.font-english {
  font-family: 'Noto Sans JP', sans-serif;
}

.neon-title {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 20px;
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: 'Zen Dots', cursive;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.neon-body {
  display: flex;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.demoTxt1 {
  opacity: 0;
}
.demoTxt1 span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.demoTxt2 {
  opacity: 0;
}
.demoTxt2 span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}
